/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
    @media (min-width: $break) {
        max-width: 1400px;
        @include centered;
    }
  }
  
  .row {
    @include flexy(flex, column);
    padding: 1em 10px;
    @media (min-width: $break) {
      @include flexy($dir: row);
    }
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @media (min-width: $break) {
        @include flexy(flex, $just: center, $align: center);
        margin-top: 0;
        & + & {
            margin-left: 10px;
        }
    }
  }
  
  
  @each $col-num, $col-color in $col-colors{
    .theme.#{$col-num} {
        background-color: $col-color;
    }
  }
  
  .card {
    flex-basis: 100%;
  }
  