/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: $break) {

    .centered {
        margin-left: auto;
        margin-right: auto;
      }

    @for $i from 1 through 12 {
        .col-#{$i} {
            flex-basis: ($i / 12) * 100%;
        }
    }

    .logo {
        margin-left: initial;
        margin-right: initial;
    }
}