// Color Variables

$white: #fff;
$color-primary: #58e1c1;
$color-secondary: #777;
$color-link: #51ddfc;

// Button Theme Colors Map 

$but-colors: (
    'default': $color-link,
    'error': #e4757a,
    'info': #927bc1,
    'success': #63cc82,
    'warning': #fd7856,
);

// Column Theme Colors Map

$col-colors: (
    'col-1': map-get($but-colors, 'info'), 
    'col-2': map-get($but-colors, 'warning'), 
    'col-3': #deb2ee,
    'col-4': #7ee6fd, 
    'col-5': #88d9a0, 
    'col-6': #4da2bb, 
    'col-7': #ec9fa3, 
    'col-8': #fd9f85, 
    'col-9': map-get($but-colors, 'error'), 
    'col-10': map-get($but-colors, 'success'), 
    'col-11': map-get($but-colors, 'default'), 
    'col-12': #80e8d1,
);

// Media Query Breakpoints

$break: 768px;

// Font Variables

$f-family: 'Lato', sans-serif;
$f-light: 300;
$f-heavy: 700;